.nav {
    display: flex;
    gap: 3rem;
}
.nav_horizontal {
    flex-direction: row;
}
.nav_vertical {
    flex-direction: column;
}
.nav__item {

}
.nav__Link {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    color: grey;
}
.nav__Link:hover {
    color: black;
}
.nav__link_horizontal {
    flex-direction: row;
}
.nav__link_vertical {
    flex-direction: column;
}
.nav__image {

}
.nav__icon {
    font-size: 3rem;
}